<footer class="bg-black ph3 pv4 white">
    <div class="mw7 center pt3">
        <div class="measure-narrow center mb4">
            <img
                src="/img/logo.svg"
                alt="Choreographer Logo"
                class="db w4 center mb4 br0"
            />
            <p class="f3 lh-title light-gray b tc mb2">
                {{ .Site.Data.footer.title }}
            </p>
            <p>{{ .Site.Data.footer.blurb }}</p>
        </div>

        <div class="flex-ns justify-between">
            <div>
                <h3 class="f4 b lh-title mb1 primary">Explore</h3>
                <ul class="mb3">
                    <li><a href="/" class="link">Home</a></li>
                    <li><a href="/bio" class="link">About</a></li>
                    <li><a href="/projects" class="link">Projects</a></li>
                    <li>
                        <a href="/performances" class="link">Performances</a>
                    </li>
                    <li><a href="/media" class="link">Media</a></li>
                    <li><a href="/contact" class="link">Contact</a></li>
                </ul>
            </div>

            <div>
                <h3 class="f4 b lh-title mb1 primary">Connect</h3>
                <ul class="mb3">
                    <li><a href="/teaching" class="link">Teaching</a></li>
                    <li><a href="/supporters" class="link">Supporters</a></li>
                    <li><a href="/blog" class="link">Blog</a></li>
                </ul>
            </div>

            <div>
                <h3 class="f4 b lh-title mb2 primary">Social Media</h3>
                <ul class="mhn2">
                    {{ partial "social-icon" (dict "link" "#" "svg"
                    "icons-facebook" "alt" "Facebook") }} {{ partial
                    "social-icon" (dict "link" "#" "svg" "icons-instagram" "alt"
                    "Instagram") }} {{ partial "social-icon" (dict "link" "#"
                    "svg" "icons-twitter" "alt" "Twitter") }} {{ partial
                    "social-icon" (dict "link" "#" "svg" "icons-vimeo" "alt"
                    "Vimeo") }}
                </ul>
            </div>
        </div>
    </div>
</footer>
